.about {
    background-color: var(--overlay);
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.about:before {
    content: '';
    /*background: url('../../images/hero.jpg') no-repeat center center/cover;*/
    background: url('../../images/background1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.about .content p:first-child {
    font-size: 5rem;
    font-weight: 700;
}

.about .content p:nth-child(2) {
    font-size: 2.2rem;
    font-style: italic;
}

.about .button {
    margin: 1rem 0;
    width: 350px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #333;
}

.about .button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

@media screen and (max-width:940px) {
    .about .content p:nth-child(3) {
        font-size: 2.6rem;
    }

    .about .content p:nth-child(4) {
        font-size: 1.6rem;
    }
}










