.Navbar {
    background-color: #495057;
}

.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.Nav .Letras {
    font-size: 25px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}


.Logo {
    padding-left: 0px;
}