.goals {
    width: 100%;
}

.goals .container {
    width: 1240px;
    margin: 2rem auto;
    padding: 2rem 0rem;
}

.goals h2 {
    font-size: 3rem;
    text-align: center;
}

.goals .container .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 4rem 0;
}

.goals .card {
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, .2);
    padding: 1rem;
}

.goals img {
    height: 200px;
    border-radius: 50px;
    margin-top: -1rem;
}


.goals .card p {
    color: #787878;
    font-size: 1.1rem;
    margin: 12px;
}

.goals .card span {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (max-width: 940px) {
    .goals .container {
        width: 100%;
    }

    .goals .container .content {
        grid-template-columns: 1fr;
    }

    .goals .card {
        max-width: 100%;
        margin: 1rem;
    }
}