.container-home {
    background-color: #dee2e6;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    font-size: 30px;
}

.back-text-div{
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(2px); 
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 60px;
}

.text-div {
    margin-top: 80px;
    border-radius: 60px;
    text-align: center;
    display: grid;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

