* {
	box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    background-color: #6495ED;
}

.header button {
    border: none;
    padding: 10px;
    font-weight: 250;
    font-size: large;
    padding: 4px 6px;
}

.aboutUs {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}
  
.aboutUs:hover {
    color: #fff;
}
  
.aboutUs .aboutUsspan {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: 0.5s ease;
    width: 100%;
}
  
.aboutUs:hover .aboutUsspan {
    background: transparent;
}

.mainPage {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}
  
.mainPage:hover {
    color: #fff;
}
  
.mainPage .mainPagespan {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: 0.5s ease;
    width: 100%;
}
  
.mainPage:hover .mainPagespan {
    background: transparent;
}

.projectDetails {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}
  
.projectDetails:hover {
    color: #fff;
}
  
.projectDetails .projectDetailsspan {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: 0.5s ease;
    width: 100%;
}
  
.projectDetails:hover .projectDetailsspan {
    background: transparent;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    font-size: 16px;
}