.container-payment {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    padding: 45px;
}

.border-payment {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 85vh;
    background: #8ecae6;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 10px;
}

.payment-title {
    padding: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.payment-title h3 {
    color: white;
    font-size: 45px;
}

.payment-title span {
    color: white;
    font-size: 22px;
}

.qrcode-area{
    padding: 10px;
}

.qrcode-area span {
    color: white;
    font-size: 20px;
}

.qrcode {
    padding: 2px;
}
