#Planta {
    height: 435px;
    width: 774px;
    background-repeat: no-repeat;
    margin-left: 350px;
}

#Legenda {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: flex;
    flex-direction: column-reverse;
}

#fundo {
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#b1 {
    border-color: black;
    border-width: 2px;
    background-color: lime;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.row {
    height: 435px;
    width: 1535px;
    padding-left: 10px;
}

.SelectSpot {
    background-color: gray;
    color: black;
    padding: 6px;
    width: 150px;
    border: none;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#v61 {
    margin-top: 302px;
    margin-left: 4px;
}

#b61 {
    background-color: transparent;
    margin-top: 300px;
    margin-left: 8px;
    border-color: transparent;
}

#b62 {
    background-color: transparent;
    margin-top: 300px;
    margin-left: 19px;
    border-color: transparent;
}

#b63 {
    background-color: transparent;
    margin-top: 300px;
    margin-left: 13px;
    border-color: transparent;
}

#b64 {
    background-color: transparent;
    margin-top: 300px;
    margin-left: 13px;
    border-color: transparent;
}

#b65 {
    background-color: transparent;
    margin-top: 300px;
    margin-left: 15px;
    border-color: transparent;
}

#b66 {
    background-color: transparent;
    margin-top: 300px;
    margin-left: 16px;
    border-color: transparent;
}