.div-h1 {
    padding-top: 100px !important;
    padding-left: 300px;
    padding-right: 300px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(100, 100, 100, 0.4);
    border-width: 2px;
    border-radius: 10px;
    text-shadow: 0 0 5px #168AAD;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    text-shadow: 0 0 5px #168AAD;
}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    text-shadow: 0 0 5px #168AAD;
}

#Planta {
    height: 435px;
    width: 774px;
    border-radius: 50px;
    border-style: solid;
    border-color: #168AAD;
    border-width: 3px;
}

#NomeBloco {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    text-shadow: 0 0 5px #168AAD;
    padding-bottom: 25px;
}

.parent {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#Legenda {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0 0 5px #168AAD;
}

button {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 0 0 5px #168AAD;
}

.div-h1 {
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#b1 {
    border-color: black;
    border-width: 2px;
    background-color: lime;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.row {
    height: 435px;
    width: 1535px;
    padding-left: 10px;
}

.SelectSpot {
    background-color: gray;
    color: black;
    padding: 6px;
    width: 150px;
    border: none;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Stat-box {
    padding-top: 10px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    width: 40%;
}

.sair {
    padding-top: 10px;
    display: block;
    margin-left: 382px;
    margin-right: auto;
    width: 20%;
}

.form-erro {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-color: black;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 2px white;
}

.Edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 37px;
}

#Indicador {
    background-color: transparent;
    border-color: transparent;
    cursor: inherit;
}